<ion-content class="ion-padding">
    <img id="medium-circle" src="assets/images/medium_circle.png" alt="">
    <div id="header">
        <img id="login-chick" src="assets/images/login_chick.png" alt="">
        <h1>Login</h1>
        <ion-input placeholder="Username"></ion-input>
        <ion-input placeholder="Password"></ion-input>
        <ion-button (click)="login()" size="small" expand="block" color="tertiary">Login</ion-button>
        <ion-button size="small" expand="block" color="tertiary">Register</ion-button>
    </div>
    <img id="medium-circle-2" src="assets/images/medium_circle_2.png" alt="">
    <img id="medium-circle-3" src="assets/images/medium_circle_3.png" alt="">
    <img id="medium-circle-4" src="assets/images/medium_circle_4.png" alt="">
</ion-content>