<ion-content class="ion-padding">
    <img id="small-circle" src="assets/images/small_circle.png" alt="">
    <img id="large-circle" src="assets/images/large_circle.png" alt="">
    <img id="landing-chick" src="../../../assets/images/landing_chick.png" alt="">
    <div id="header">
        <h1>3 Deep Breaths</h1>
        <h6>dude, just take 3 deep breaths and it will be a-ok</h6>
        <ion-button (click)="login()" color="tertiary">start to breath</ion-button>
    </div>
    <img id="medium-circle" src="assets/images/medium_circle.png" alt="">
</ion-content>
